/* Home.css */
.home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}

.home__row {
  display: flex;
  z-index: -11;
  margin: 0 5px;
}

.home__image {
  width: 100%;
  z-index: -1;
  margin-bottom: -150px;
}

.use-camera-button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;

  /* Center horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


.use-camera-button:hover {
  background-color: #005bb0;
}
